body,html {
    margin: 0;
    height: 100vh;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: rgb(238, 238, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    padding: 0 5em;

    &__img {
        display: block;
        height: 100px;
        width: 100%;
        background: pink;
    }
    &__content {
        padding: 1.4em;
        background: plum;
    }

    &__list {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__item {
        padding: .3em .5em;
        margin-right: .5em;
        background: rgb(230, 230, 230);
        border-radius: .3em;
        font-size: .85em;

        &--active {
            background: rgb(217, 244, 248);
            font-weight: bold;
        }
    }

    &__cta {
        background: powderblue;
        color: rgb(8, 8, 8);
        text-decoration: none;
        padding: .5em 1em;
        border-radius: .4em;
        display: inline-block;
        margin-top: .5em;
    }

    .hvr-grow {
        background: powderblue;
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .hvr-grow:hover{
        transform: scale(1.2);
        background: rgb(224, 251, 254);
    }
}
